<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="HOST" source="spring.rabbitmq.host"/>
    <springProperty scope="context" name="PORT" source="spring.rabbitmq.port"/>
    <springProperty scope="context" name="USER" source="spring.rabbitmq.username"/>
    <springProperty scope="context" name="PASS" source="spring.rabbitmq.password"/>
    <springProperty scope="context" name="NAME" source="app.name"/>
    <springProperty scope="context" name="EXECUTION" source="proof.worker.workflow.executionId"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan([%date{"yyyy-MM-dd'T'HH:mm:ss.SSS",
                UTC}])-%highlight([%-6p])-%blue([%-15.-15c{0}])-%cyan([%-10.-10t{0}]) -- %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
        <host>${HOST}</host>
        <port>${PORT}</port>
        <username>${USER}</username>
        <password>${PASS}</password>
        <applicationId>${NAME}</applicationId>
        <routingKeyPattern>logs.block.${NAME}.execution.${EXECUTION}</routingKeyPattern>
        <exchangeName>logs</exchangeName>
        <exchangeType>topic</exchangeType>
        <declareExchange>true</declareExchange>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AMQP"/>
    </root>
</configuration>
