<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- The following declaration can be removed after Spring Error is fixed (see https://github.com/spring-projects/spring-boot/issues/34505) -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
		    <!--%magenta([%date{"yyyy-MM-dd'T'HH:mm:ssXXX", UTC}])-[%-6p]-%blue([%-15.-15c{0}]) %msg %n  -->
		    <!-- see https://logback.qos.ch/manual/layouts.html ::  %date{STRICT} => 2024-10-20T14:06:49,812     date{dd MMM yyyy;HH:mm:ss.SSS} => 20 oct. 2006;14:06:49.812
		                                                            %date{"HH:mm:ss.SSS", UTC} => only time -->
                %magenta([%date{"HH:mm:ss.SSS"}])-[%-6p]-%blue([%-15.-15c{0}]) %msg %n
		    <!--%cyan([%date{"yyyy-MM-dd'T'HH:mm:ssXXX", UTC}])-[%-6p]-%blue([%-15.-15c{0}]) %msg - blockId=%X{blockId} lifeCycleId=%X{lifeCycleId} %n -->
            </pattern>
        </encoder>
    </appender>
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <ringBufferSize>8192</ringBufferSize>
        <appender name="httpappender" class="de.idealo.whitelabels.logback.HttpAppender">
            <httpClient class="de.idealo.whitelabels.logback.HttpClient">
                <destination>https://proof2-logstash-jt.cloud.iai.kit.edu</destination>
            </httpClient>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                </fieldNames>
                <customFields>{"application":"orchestrator"}</customFields>
            </encoder>
        </appender>
    </appender>
    <logger name="ConsoleLogger" level="debug" additivity="false"> 
    	<appender-ref ref="CONSOLE" />
    </logger>
	
    <logger name="EventLogger" level="debug" additivity="false"> 
    	<appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--appender-ref ref="LOGSTASH"/-->
    </root>
</configuration>
